$bg-color: #333;
$light-bg-color: #6b6247;
$highlight-color: #e5ce8b;
$font-size-base: 15px;
$font-size-small: 14px;
$note-symbol: "*";

article.importer {
  pre {
    @include box-model(15px, $bg-color, auto, auto);
    overflow-x: auto;
  }

  .table-container {
    margin-bottom: 15px;
    overflow-x: auto;

    table.cli {
      code {
        @include font($font-size-base, null, null, #333);
      }

      small code {
        @include font($font-size-small, null, null, #333);
      }

      .required-option {
        color: $highlight-color;
        background: $light-bg-color;
      }

      &+ .cli-table-note {
        font-size: 0.825em;
        text-align: right;

        &:before {
          content: $note-symbol;
        }
      }
    }
  }
}

