.highlight { background: #333333; color: #ffffff }
.highlight .hll { background-color: #ffffcc }

.highlight .c, .highlight .cm, .highlight .cp, .highlight .cs { color: #87ceeb } /* Comment */
.highlight .err { color: #ffffff } /* Error */
.highlight .g { color: #ffffff } /* Generic */

.highlight .k { color: #f0e68c } /* Keyword */
.highlight .kt, .highlight .kn, .highlight .kp, .highlight .kr { color: #f0e68c } /* Keyword (types, namespaces, pseudo, reserved) */

.highlight .l { color: #ffffff } /* Literal */
.highlight .ld, .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il { color: #ffffff } /* Literal (date, number, number float, number hex, number integer, number oct, number integer long) */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss { color: #ffffff } /* Literal.String (backtick, char, doc, double, escape, heredoc, interpol, other, regex, single, symbol) */

.highlight .n { color: #ffffff } /* Name */
.highlight .na, .highlight .nd, .highlight .ni, .highlight .ne, .highlight .nf, .highlight .nl, .highlight .nn, .highlight .nx, .highlight .nt, .highlight .nv { color: #ffffff } /* Name (attribute, decorator, entity, exception, function, label, namespace, other, tag, variable) */

.highlight .p { color: #ffffff } /* Punctuation */

.highlight .ow { color: #ffffff } /* Operator.Word */

.highlight .w { color: #ffffff } /* Text.Whitespace */

.highlight .gd { color: #0000c0; font-weight: bold; background-color: #008080 } /* Generic.Deleted */
.highlight .ge { color: #c000c0; text-decoration: underline } /* Generic.Emph */
.highlight .gr { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Error */
.highlight .gh { color: #cd5c5c } /* Generic.Heading */
.highlight .gi { color: #ffffff; background-color: #0000c0 } /* Generic.Inserted */
.highlight span.go { color: #add8e6; font-weight: bold; background-color: #4d4d4d } /* Generic.Output */
.highlight .gp { color: #ffffff } /* Generic.Prompt */
.highlight .gs { color: #ffffff } /* Generic.Strong */
.highlight .gu { color: #cd5c5c } /* Generic.Subheading */
.highlight .gt { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Traceback */

.highlight .vc { color: #98fb98 } /* Name.Variable.Class */
.highlight .vg { color: #98fb98 } /* Name.Variable.Global */
.highlight .vi { color: #98fb98 } /* Name.Variable.Instance */

.highlight .bp { color: #ffffff } /* Name.Builtin.Pseudo */
